**/bin/
**/obj/
**/.vs/
.git/

*.publishsettings
*.PublishSettings
*.pubxml
*.pubxml.user
*.bacpac
*.bak
*.trn

**/appsettings.Development.json
cookies.txt
filelist.txt
SmartAttendanceSystem/build.log
SmartAttendanceSystem/wwwroot/uploads/faces/
